* {
	box-sizing: border-box;
	
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
#banner {
	background-image: url('/images/entrenamiento.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#banner h2 {
	font-size: 48px;
	margin-bottom: 20px;
    color: #fff;
}

#banner p {
	font-size: 24px;
	margin-bottom: 30px;
    color: #fff;
}

.btn {
	display: inline-block;
	background-color: #333;
	color: #22ee44;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.btn:hover {
	background-color: #22ee44;
	color: #333;
}

/* Estilos para la sección Acerca de */
#about {
	background-color: #f5f5f5;
	padding: 80px 20px;
	text-align: center;
}

#about h2 {
	font-size: 36px;
	margin-bottom: 40px;
}

#about p {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 40px;
}

/* Estilos para la sección Servicios */
#services {
	background-color: #858585;
	padding: 80px 20px;
	text-align: center;
}

#services h2 {
	font-size: 36px;
	margin-bottom: 40px;
}

#services ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#services li {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 10px;
}

/* Estilos para la sección Contacto */
#contact {
	background-color: #858585;
	padding: 80px 20px;
	text-align: center;
}

#contact h2 {
	font-size: 36px;
	margin-bottom: 40px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-size: 20px;
	margin-bottom: 10px;
}

input,
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	background-color: #333;
	color:#22ee44;;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #22ee44;;
	color: #333;
}

.container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .box {
	width: 33.33%;
	position: relative;
	overflow: hidden;
  }
  
  img {
	display: block;
	width: 100%;
	height: auto;
	
  }
  
  .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	
  }
  
  .box:hover .overlay {
	height: 100%;
	
  }
  
  .overlay p {
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  


  .container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
  }
  
  .box1 {
	position: relative;
	width: 600px;
	height: 500px;

  }
  
  .alimento {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease;
	width: 100%;
	height: auto;
	border-radius: 25px;
  }
  
  .box1:hover .alimento {
	transform: translate(-50%, -50%) scale(1.2);
  }
  * {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #bebdbd;

}

header {
	background-color: #333;
	color: #22ee44;;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #22ee44;;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}

.contenedor-seccion {
   
	background-color: #bebdbd;
}

.texto {
    flex: 2;
    padding: 20px;
    margin: 40px;
}

.imagen {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-top: 110px;
    margin-left: 600px;
}

.imagen_blog1 {
    max-width: 40%;
    height: auto;
    max-height: 40%;
  
}

.contenido-informativo {
	background-color: #bebdbd;
   
}

h1{
   font-size: 50px;
}

.contenido_p1{

    font-size: 24px;
}

